<div ng-init="init()">
	<div ng-hide="user">
		Need to login!
	</div>
	<div ng-hide="validMflCookies()">
		<div class="form-group">
			<label class="control-label" for="mflUsername">MFL Username</label>
			<input class="form-control" id="mflUsername" type="text">
		</div>
		<div class="form-group">
			<label class="control-label" for="mflPassword">MFL Password</label>
			<input class="form-control" id="mflPassword" type="password">
		</div>
		<button class="btn btn-success" ng-click="mflLogin()">Link MFL Account</button>
	</div>
	<div ng-show="validMflCookies()">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label" for="leagueSelect">League</label>
					<div class="flex-import">
						<select class="form-control" id="leagueSelect" data-placeholder="Select League">
						</select>
					</div>
				</div>
			</div>
		</div>
		<span ng-show="league">
			<div class="row">
				<div class="col-md-12">
					<h1>{{leagueInfoById[league.franchise_id].name}}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h3>Studs</h3>
					<div class="card" ng-repeat="player in leagueAssetsById[league.franchise_id].players.player | filter:studsFilterFunction | orderBy:orderFunction:true">
						<span ng-include="'pages/player-card.html'"></span>
					</div>
				</div>
				<div class="col-md-3">
					<h3>Stash</h3>
					<div class="card" ng-repeat="player in leagueAssetsById[league.franchise_id].players.player | filter:stashFilterFunction | orderBy:orderFunction:true">
						<span ng-include="'pages/player-card.html'"></span>
					</div>
				</div>
				<div class="col-md-3">
					<h3>Picks</h3>
					<div class="card" ng-repeat="draftPick in leagueAssetsById[league.franchise_id].futureYearDraftPicks.draftPick">
						<div class="card-number">
							<span class="lap-number">{{extractRound(draftPick.description)}}</span>
						</div>
						<div class="card-info">
							{{draftPick.description}}
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<h3>Compare</h3>
					<div class="form-group">
						<label class="control-label" for="playerSelect">Players</label>
						<div class="flex-import">
							<select class="form-control" id="playerSelect" multiple="multiple" data-placeholder="Select Players">
							</select>
						</div>
					</div>
					<div class="card" ng-repeat="player in searchResults | orderBy:orderFunction:true">
						<span ng-include="'pages/player-card.html'"></span>
					</div>
					<h4>Watch List</h4>
					<div class="card" ng-repeat="player in myWatchList.myWatchList.player | orderBy:orderFunction:true">
						<span ng-include="'pages/player-card.html'"></span>
					</div>
				</div>
			</div>
		</span>
	</div>
</div>