<div ng-init="init()">
	<div ng-hide="user">
		Need to login!
	</div>
	<div ng-hide="validMflCookies()">
		<div class="form-group">
			<label class="control-label" for="mflUsername">MFL Username</label>
			<input class="form-control" id="mflUsername" type="text">
		</div>
		<div class="form-group">
			<label class="control-label" for="mflPassword">MFL Password</label>
			<input class="form-control" id="mflPassword" type="password">
		</div>
		<button class="btn btn-success" ng-click="mflLogin()">Link MFL Account</button>
	</div>
	<div ng-show="validMflCookies()">
		<div ng-show="league">
			<h1>{{league.name}} - {{leagueInfoById[league.franchise_id].name}}</h1>
			<h3>Players</h3>
			<div ng-repeat="player in leagueAssetsById[league.franchise_id].players.player">
				{{displayPlayer(player.id).name}} {{displayPlayer(player.id).team}} {{displayPlayer(player.id).position}}
			</div>
			<h3>Picks</h3>
			<div ng-repeat="draftPick in leagueAssetsById[league.franchise_id].futureYearDraftPicks.draftPick">
				{{draftPick.description}}
			</div>
		</div>
		<div ng-hide="league">
			Select a league: 
			<div ng-repeat="(leaguekey, mflLeague) in mflLeagues.leagues">
				{{leaguekey}} - {{mflLeague.name}} - {{mflLeague.league_id}} - {{mflLeague.franchise_id}}
			</div>
		</div>
	</div>
</div>